@model IEnumerable<AddressBook.AddressInfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to Address Book Application</h2>

<p>
    @Html.ActionLink("Add New Address", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AddressName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressNearbyPlace)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AddressName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressNearbyPlace)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AddressId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AddressId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AddressId })
        </td>
    </tr>
}

</table>
