@model WebApplication3.Models.WaterIntake

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WaterIntake</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numberOfGlassesConsumed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberOfGlassesConsumed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.targetGlasses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.targetGlasses)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
